<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments :: html_head" />
<body style="background-color: #f0f1f2;">
	<div th:replace = "fragments :: menu"></div>
	<div class="container p-4">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card-body">
				
					<h4 class="text-center text-primary">Add campaign form.</h4>
					
					<div th:if="${session.msg}">
						<h5 class="text-center text-success" th:text="${session.msg}"></h5>
						<!-- <th:block th:text="${#session.removeAttribute('msg')}"></th:block> -->
					</div>
				
					<form th:action="@{/save_campaign_type}" method="post">
						<div class="container">
							<div class="row form-group">
								<div class="col">
									<label for="exampleInputEmail1" class="col-sm-1 col-form-label">campaign </label>
								</div>
								<div class="col">
									<select name="select_box" class="form-select" id="select_box">
										<option th:each="p : ${all_campaign}" value="">[[${p.campaignName}]]</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col">
									<label for="exampleInputEmail1" class="col-sm-1 col-form-label">campaign_type </label>
								</div>
								<div class="col">
									<select name="select_box" class="form-select" id="select_box">
										<option th:each="p : ${all_campaign_type}" value="">[[${p.campaignTypeName}]]</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col">
									<label for="exampleInputEmail1" class="col-sm-1 col-form-label">campaign_goods </label>
								</div>
								<div class="col">
									<select name="select_box" class="form-select" id="select_box">
										<option th:each="p : ${all_campaign_goods}" value="">[[${p.goodsName}]]</option>
									</select>
								</div>
							</div>
							<div class = "row form-group">
								<div class="col">
									<label for="exampleInputEmail1" class="col-sm-1 col-form-label">Qty </label>
								</div>
								<div class="col">
									<input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="qty">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace = "fragments :: footer"></div>
	
<script type="text/javascript">
        $(function() {
            $('#datepicker1').datepicker();
            $('#datepicker2').datepicker();
            $('#datepicker3').datepicker();
            $('#datepicker4').datepicker();
        });
    </script>
	
</body>
</html>
