<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments :: html_head" />
<body style="background-color: #f0f1f2;">
	<div th:replace = "fragments :: menu"></div>
	<div class="container p-5">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card">
					<div th:if="${session.msg}">
						<h5 class="text-center text-success" th:text="${session.msg}"></h5>
						<!-- <th:block th:text="${#session.removeAttribute('msg')}"></th:block> -->
					</div>
					<div class="card-header">
						<a href="campaign_load_form_add" class="btn btn-primary">Add campaig</a>
					</div>
					<div class="card-bady">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">campaign_id</th>
									<th scope="col">campaign_name</th>
									<th scope="col">create_dtm</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="p : ${all_campaign}">
									<th scope="row">[[${p.id}]]</th>
									<td>[[${p.campaignName}]]</td>
									<td>[[${p.startDate}]]</td>
									<td>
										<a th:href="@{'/campaign_type_load_form_edit/'+${p.id}}" class="btn btn-sm btn-primary">Edit</a>
										<a th:href="@{'/delete_campaign_type/'+${p.id}}" class="btn btn-sm btn-danger">Delete</a>
									</td>
								</tr>							
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace = "fragments :: footer"></div>
</body>
</html>