<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments :: html_head" />
<body>
	<div th:replace = "fragments :: menu"></div>	
	<div class="container p-4">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card-body">
				
					<h4 class="text-center text-primary">Edit Products Form</h4>
					
					<div th:if="${session.msg}">
						<h5 class="text-center text-success" th:text="${session.msg}"></h5>
						<!-- <th:block th:text="${#session.removeAttribute('msg')}"></th:block> -->
					</div>
				
					<form th:action="@{/update_product}" method="post">
					
						<input type="hidden" th:value="${product.id}" name="id">
					
						<div class="md-3">
							<div class="mb-3">
							    <label for="exampleInputEmail1" class="form-label">Enter Products Name </label>
							    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="productName" th:value="${product.productName}">
							</div>
							<div class="mb-3">
							    <label for="exampleInputEmail1" class="form-label">Enter Description </label>
							    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="description" th:value="${product.description}">
							</div>
							<div class="mb-3">
							    <label for="exampleInputEmail1" class="form-label">Price </label>
							    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price" th:value="${product.price}">
							</div>
							<div class="mb-3">
							    <label for="exampleInputEmail1" class="form-label">Qunatity </label>
							    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="quantity" th:value="${product.quantity}">
							</div>
							
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace = "fragments :: footer"></div>
</body>
</html>